{{#*inline "page"}}
    <div>
        {{#each weeks}}
        <a name="{{this.id}}"></a>
        <h3>{{year this.id}}&ndash;W{{week this.id}} <a href="#{{this.id}}">#</a></h3>
        <p>{{markdown this.body}}</p>
        {{else}}
        <p>This page intentionally left blank.</p>
        {{/each}}
    </div>
{{/inline}}
{{> template }}
